<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top badge-danger shadow-lg">
        <a class="navbar-brand" routerLink="home">
            <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Sandra Bernal
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav mr-auto">

            </ul>
            <nav class="my-2 my-md-0 mr-md-3">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="register">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="login">Iniciar Sesión</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</header>

<!-- <nav class="navbar navbar-dark bg-danger">
    <a class="navbar-brand" routerLink="home" href="">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Sandra Bernal
    </a>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" routerLink="register">Registrarse</a>
        <a class="p-2 text-white" routerLink="login">Iniciar Sesion</a>
    </nav>
</nav> -->